/* Text Styles */
title {
  display: inline-block;
  font-family: 'Relative-Book';
  font-size: 1.4em;
  color: #444444;
  margin-left: 0%;
  margin-top: 12px;
  letter-spacing: 0.0em;
  background-color: none; }

description {
  display: block;
  font-family: 'Relative-Book';
  font-size: 0.90em;
  line-height: 1.7;
  color: #444444;
  margin-right: 30%;
  margin-left: 5%;
  margin-top: 40px;
  margin-bottom: 150px;
  letter-spacing: 0.02em;
  background-color: none; }

tags {
  font-family: 'Relative-10Pitch';
  font-size: 1.4em;
  color: #444444;
  padding-top: 12px;
  letter-spacing: -0.03em;
  margin-left: 5%;
  margin-right: 0%;
  background-color: none;
  float: right; }

/* Media Queries */
@media (max-width: 668px) {
  title {
    display: block;
    font-family: 'Relative-Book';
    font-size: 1.0em;
    line-height: 1.0;
    color: #444444;
    margin-left: 0%;
    margin-top: 3%;
    letter-spacing: 0.0em;
    text-align: center; }
  description {
    display: block;
    font-family: 'Relative-Book';
    font-size: 0.90em;
    line-height: 1.7;
    color: #444444;
    margin-right: 30%;
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 150px;
    letter-spacing: 0.02em;
    background-color: none; }
  tags {
    display: block;
    float: right;
    font-family: 'Relative-10Pitch';
    font-size: 1.0em;
    line-height: 1.2;
    color: #000000;
    padding-top: 10px;
    letter-spacing: -0.03em;
    margin-left: 5%;
    margin-right: 0%;
    display: none; } }

/* Project Styles */
project_title {
  display: block;
  font-family: 'Relative-Book';
  font-size: 1.05em;
  line-height: 1.2;
  color: #444444;
  margin-left: 0%;
  margin-right: 30%;
  margin-top: 50px;
  margin-bottom: 25px;
  letter-spacing: 0em;
  background-color: none; }

project_description {
  display: block;
  font-family: 'Relative-Book';
  font-size: 3.00em;
  line-height: 1.7;
  color: #444444;
  margin-right: 30%;
  margin-left: 5%;
  margin-top: 40px;
  margin-bottom: 150px;
  letter-spacing: 0.02em;
  background-color: none; }

project_tags {
  display: block;
  font-family: 'Relative-10Pitch';
  font-size: 0.90em;
  line-height: 1.3;
  color: #737373;
  margin-bottom: 50px;
  letter-spacing: -0.03em;
  margin-left: 5%;
  margin-right: 5%;
  background-color: none;
  display: inline;
  border-bottom: 1.5px solid #9b9b9b;
  padding-bottom: 5px;
  float: right; }

/* about */
about_hextext {
  display: block;
  text-align: left;
  font-family: 'Relative-Book';
  font-size: 1.2em;
  line-height: 1.6;
  color: #444444;
  width: 60%;
  Margin-left: 10%;
  margin-right: 30%;
  margin-top: 10px;
  letter-spacing: 0.02em;
  background-color: none; }
