
@font-face {
  font-family: 'Relative-Book';
  src: url('Relative-Book.eot?#iefix') format('embedded-opentype'),  url('Relative-Book.woff') format('woff'), url('Relative-Book.ttf')  format('truetype'), url('Relative-Book.svg#Relative-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Relative-10Pitch';
  src: url('Relative-10Pitch.eot?#iefix') format('embedded-opentype'),  url('Relative-10Pitch.woff') format('woff'), url('Relative-10Pitch.ttf')  format('truetype'), url('Relative-10Pitch.svg#Relative-10Pitch') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Relative-Medium';
  src: url('Relative-Medium.eot?#iefix') format('embedded-opentype'),  url('Relative-Medium.woff') format('woff'), url('Relative-Medium.ttf')  format('truetype'), url('Relative-Medium.svg#Relative-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
